{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
  <link href="{% static 'admin/css/custom_base.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ title }} | Yendo {% endblock %}

{% block branding %}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">Yendo</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
